extends ../layouts/app

block content
  section.list.list-post
    each article in articles
      article.list-item
        header.list-item-header
        section
          p!= article.text
        figure
          if article.attachments[0] != null
            - let photoObj = article.attachments[0]
            img(src="#{photoObj.photo['photo_604']}", alt="#{photoObj.text}", width="#{photoObj.width}", height="#{photoObj.height}")
        footer
          hr

